/.ec2_instance_profile_arn
/.env
/.iam_instance_profile_arn
/.iam_role_id
/.security_group_id
/.subnet_id
/.vpc_id
/Makefile.old
/check_and_delete_if_rollback.sh
/check_status.sh
/check_status_and_dump_logs.sh
/deploy_ec2_stack.sh
/deployment_output.json
/ec2-console-output.txt
/ec2_instance_fqdn.txt
/ec2_instance_ip.txt
/fetch_ec2_console_log.sh
/fetch_ec2_instance_id.sh
/get_ec2_console_log_cfn.sh
/iam_instance_profile_arn.txt
/iam_role_arn.txt
/models
/opensearch_domain_arn.txt
/outputs
/perplexica-opensearch-quickstart-cfn.yaml
/policies
/policy.json
/stack_id.txt
/stack_outputs.json